<div class="input-container">
  <label
    [for]="inputId"
    class="input-container__label"
    [ngClass]="{'input-container__label__error': inputFormControl.invalid && inputFormControl.touched}">
    {{ inputLabel }}
  </label>
  <div class="input-container__input">
    <img
      class="input-container__input__icon"
      [ngSrc]="getIconSrc()"
      width="16"
      height="16"
      alt="input icon"
    />
    <input
      [formControl]="inputFormControl"
      [id]="inputId"
      [placeholder]="inputPlaceholder"
      [type]="inputType"
      autocomplete="off"
      (blur)="onBlur()"
    />
    @if (inputFormControl.invalid && inputFormControl.touched) {
      <span class="input-container__input__error-message">{{
        errorMessage
      }}</span>
    }
  </div>
</div>
