@import '../../../../theme/mixins';

.input-container {
  &__label {
    @include font(0.75rem, 400, 1.5, var(--dark-color));
    margin-bottom: 0.25rem;
  }

  &__input {
    position: relative;

    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }

    input {
      @include font(1rem, 400, 1.5, var(--dark-color));
      background-color: var(--white-color);
      width: 100%;
      padding: 0.75rem 1rem 0.75rem 2.75rem;
      border-radius: 0.5rem;
      border: 1px solid var(--neutral-color);
      outline: none;
      cursor: pointer;

      &::placeholder {
        @include font(1rem, 400, 1.5, var(--dark-color));
        opacity: 0.5;
      }

      &:focus {
        border-color: var(--primary-color);
        box-shadow: 0 0 2rem rgba(99, 60, 255, 0.25);
      }
    }

    &__error-message {
      @include font(0.75rem, 400, 1.5, var(--danger-color));
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
    }
  }
}
