:root {
  --primary-color: #633CFF;
  --primary-light: #BEADFF;
  --primary-background: #EFEBFF;
  --dark-color: #333333;
  --medium-dark-color: #737373;
  --neutral-color: #D9D9D9;
  --light-background: #FAFAFA;
  --white-color: #FFFFFF;
  --danger-color: #FF3939;
}
